

<div class="container">
    <p class="text-center">Policy Management System</p>
    <hr/>
    <div style="text-align: center">
        <h3>{{message}}</h3>
    </div>
    <form #registerForm = "ngForm" (ngSubmit) = "save(registerForm.value)">
        <div class="row">
            <div class="col-9">
    
            </div>
            <div class="col-3">
                <a routerLink="login" >Home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
    
            </div>
            <div class="col-4">
                <p>Customer Information</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
    
            </div>
            <div class="col-4">
                Firstname 
            </div>
            <div class="col-3">
                <input type = "string" class="form-control" name="username" [(ngModel)]="username">
            </div>
        </div>
        <div class = row >
            <div class="col-2">
                
            </div>
            <div class="col-4">
                Last Name
            </div>
            <div class="col-3">
                <input type = "string" class="form-control" name="lastname" [(ngModel)]="lastname">
            </div>
        </div>
        <div class = row >
            <div class="col-2">
                
            </div>
            <div class="col-4">
                Date of Birth
            </div>
            <div class="col-3">
                <input type = "date" class="form-control" name="dob" [(ngModel)]="dob">
            </div>
        </div>
        <div class = row >
            <div class="col-2">
                
            </div>
            <div class="col-4">
                Address
            </div>
            <div class="col-3">
                <input type = "string" class="form-control"name="address" [(ngModel)]="address">
            </div>
        </div>
        <div class = row >
            <div class="col-2">
                
            </div>
            <div class="col-4">
                Contact No
            </div>
            <div class="col-3">
                <input type = "number" class="form-control" name="contact" [(ngModel)]="contact">
            </div>
        </div>
        <div class = row >
            <div class="col-2">
                
            </div>
            <div class="col-4">
                Email Address
            </div>
            <div class="col-3">
                <input type = "mail" class="form-control" name="mail" [(ngModel)]="mail">
            </div>
        </div>
        <div class = row >
            <div class="col-2">
                
            </div>
            <div class="col-4">
                Password
            </div>
            <div class="col-3">
                <input type = "string" class="form-control" name="pass" [(ngModel)]="pass">
            </div>
        </div>
        <br>
        <div class = row >
            <div class="col-2">

            </div>
            <div class="col-4">
                <button >Reset</button>
            </div>
            <div class="col-3">
                <input type="submit" Value="submit">
            </div>
        </div>
    </form>

</div>
